<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bjzt.uye">


    <supports-screens android:anyDensity="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 创建快捷方式的权限 -->
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <!-- 获取通讯录权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- 百度地图使用的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 用于离线地图 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.MApp"
        android:largeHeap="true"
        android:debuggable="true"
        tools:ignore="HardcodedDebugMode"
        android:persistent="true"
        android:hardwareAccelerated="true"
        >

        <!-- 使用百度地图，需要添加 AppKey 到清单文件中 1CkOO1AFCDvUNorueroIO9dI -->
        <meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="DbKbEh8KjoUidyHZKOIbGkrn5NVrqVd2"/>

        <activity
            android:name=".activity.TestActivity"
            android:theme="@style/Theme.Youye"
            android:launchMode="standard"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            >



        </activity>

        <!--主Tab页卡-->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Youye"
            >
        </activity>

        <!--登录页卡-->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Youye"
            ></activity>

        <!--注册页卡-->
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Youye"
            ></activity>
'
        <!--个人资料-->
        <activity
            android:name=".activity.DataCheckActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Youye"
            ></activity>

        <!--身份认证信息-->
        <activity
            android:name=".activity.ApplyIDActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Youye"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            ></activity>

        <!--WebViewActivity-->
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Youye"
            ></activity>

        <!--搜索页卡-->
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Youye_bottom"
            ></activity>

        <!--订单信息-->
        <activity
            android:name=".activity.OrderInfoActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Youye"
            android:windowSoftInputMode="stateAlwaysHidden"
            ></activity>

        <!--就业调查-->
        <activity
            android:name=".activity.QAActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Youye"
            ></activity>

        <!--就业进展-->
        <activity
            android:name=".activity.ApplyEmployProActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Youye"
            ></activity>

        <!--新增就业进展-->
        <activity
            android:name=".activity.ApplyEmployProAddActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Youye"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden"
            ></activity>

        <!--联系信息-->
        <activity
            android:name=".activity.ApplyContactInfoActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Youye"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden"
            ></activity>

        <!--机构详情-->
        <activity
            android:name=".activity.OrgDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Youye"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden"
            ></activity>

        <!--========================================本地相册==============================-->
        <!-- 本地相册 -->
        <activity
            android:name=".photo.activity.LoanPhotoAlblumActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Youye"
            ></activity>

        <!--图片预览Activity-->
        <activity
            android:name=".photo.activity.LoanPicScanActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/Theme.Youye"
            ></activity>

        <!--开始进入到申请流程-->
        <activity android:name=".activity.ApplyFirstTransferActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/Theme.YouyeTrans"
            ></activity>
    <!--===========================================相关配置SDK============================ -->
    <service
        android:name="com.baidu.location.f"
        android:enabled="true"
        android:process=":remote" >
        <intent-filter>
            <action android:name="com.baidu.location.service_v2.2" >
            </action>
        </intent-filter>
    </service>


    </application>

</manifest>